################################### DJANGO ################################
SECRET_KEY=SECRET_KEY
DB_ENGINE=django.db.backends.postgresql_psycopg2

################################### DB ################################
DB_HOST=localhost
DB_PORT=5432
DB_NAME=log
DB_USER=log
DB_PASSWORD=log
ECHO=0

################################### General ################################
PROJECT_NAME=logistics_logger
SERVER_HOST=http://127.0.0.1:8000/
DEBUG=1
GRPC_PORT=50051

################################### JWT ################################
JWT_SECRET_KEY=JWT_SECRET_KEY

